.row

  h2 List of libraries
  pre
    = "dependencies {\n"
    - @artifacts.each do |artifact|
        |     compile '
        = link_to artifact.as_dependency, '/artifacts/' + artifact.path
        | ' // updated #{time_ago_in_words(artifact.updated_at)} ago#{"\n"}
    = "}\n"

  h2 To use libraries
  pre
    | repositories {
          maven { url '#{site_maven_repository_url}' }
      }

  h2 To deploy libraries
  pre
    | android.libraryVariants.all { variant ->
          if (variant.name == 'release') {
              task(javadoc, type: Javadoc) {
                  exclude "**/R.java"
                  options.encoding 'UTF-8'

                  source variant.javaCompile.source
                  def androidJars = plugins.
                          findPlugin(com.android.build.gradle.LibraryPlugin).bootClasspath
                  classpath += files(variant.javaCompile.classpath) + files(androidJars)
              }
              task(javadocJar, type: Jar, dependsOn: javadoc) {
                  classifier 'javadoc'
                  from javadoc.destinationDir
              }

              task(sourcesJar, type: Jar) {
                  classifier 'sources'
                  from android.sourceSets.main.java.sourceFiles
              }

              artifacts {
                  archives javadocJar
                  archives sourcesJar
              }
          }
      }
      uploadArchives.repositories.mavenDeployer {
          repository url: '#{site_maven_repository_url}'

          pom.groupId = GROUP_ID
          pom.artifactId = ARTIFACT_ID
          pom.version = VERSION
      }
